.background_super{
    background-color: rgb(221, 217, 217);
    margin: 0%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

.registered{
    display: flex;
    flex-direction: row;
    margin-top: -7%;
}
.super_admin{
    display: flex;
    flex-direction: column;
}
.register_container{
    background-color: white;
    width: 29%;
    margin-right: 2%;
    margin-left: 2%;
    height: fit-content;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding-top: 1%;
}
.regHead{
 padding-top: 2%;
}
.edit_reg{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.create_reg{
    background-color: white;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    opacity: 0.9;
    margin-right: 2%;
    margin-left: 27%;
    width: 20%;
    height: fit-content;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 0.5%;
    background-color: rgb(7, 152, 242);
    color: black;
    text-decoration: none;
}
.create_reg:hover{
    color: black;
    
}
.delete_reg{
    background-color: white;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    opacity: 0.9;
    margin-right: 2%;
    margin-left: 2%;
    width: 20%; 
    height: fit-content;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 0.5%;
    background-color: #E83A14;
    color: black;
    text-decoration: none;
}
.delete_reg:hover{
    color: black;
}
.logo1{
    height: 30%;
    width: 30%;
    padding-bottom: 0%;
    margin-top:-5% ;
    
}
.btn_del{
        position: relative;
        display: inline-block;
        margin: 15px;
        padding: 12px 27px;
        text-align: center;
        font-size: 16px;
        width: 20%;
        min-width: fit-content;
        letter-spacing: 1px;
        text-decoration: none;
        color: #4d4d4d;
        border-radius: 12px;
        background: #f83d04;
        border: 3px solid #999999;
        cursor: pointer;
        transition: ease-out 0.5s;
        -webkit-transition: ease-out 0.5s;
        -moz-transition: ease-out 0.5s
}
.btn_del.btn-border-4::after,
.btn_del.btn-border-4::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn_del.btn-border-4::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn_del.btn-border-4::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn_del.btn-border-4:hover {
    color: #222222;
}

.btn_del.btn-border-4:hover::after,
.btn_del.btn-border-4:hover::before {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-color: #222222;
}




.btn_cre{
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    width: 20%;
    min-width: fit-content;
    letter-spacing: 1px;
    text-decoration: none;
    color: #4d4d4d;
    border-radius: 12px;
    background: #04dcf8;
    margin-left: 27%;
    border: 3px solid #999999;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s
}
.btn_cre.btn-border-4::after,
.btn_cre.btn-border-4::before {
position: absolute;
content: "";
width: 0;
height: 0;
transition: .5s;
}

.btn_cre.btn-border-4::after {
top: -9px;
left: -9px;
border-top: 3px solid transparent;
border-left: 3px solid transparent;
}

.btn_cre.btn-border-4::before {
bottom: -9px;
right: -9px;
border-bottom: 3px solid transparent;
border-right: 3px solid transparent;
}

.btn_cre.btn-border-4:hover {
color: #222222;
}

.btn_cre.btn-border-4:hover::after,
.btn_cre.btn-border-4:hover::before {
width: calc(100% + 15px);
height: calc(100% + 15px);
border-color: #222222;
}
.log_table{
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
}
@media(max-width:756px){
    .registered{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .register_container{
        width: 70%;
        margin-bottom: 5%;
    }
    .edit_reg{
        flex-direction: column;
    }
    .btn_cre{
        width: 30%;
        margin-left: 27%;
    }
    .btn_del{
        width: 30%;
        margin-left: 27%;
    }
}





/* CreateReg */

.create_form{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    margin-top: -8%;
    min-height: 100%;
    position: relative;
    border-radius: 12px;
    margin-bottom: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.outer_create{
    position: relative;
    padding: 0%;
    margin: 5%;
    width: 90%;
    margin-right: 10%;
    height: 3rem;
    margin-bottom: 7%;
}
.create_heading{
    font-size: 240%;
    margin-top: 0%;
    padding-bottom: 3%;
}
.focus-border{
}
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.create_input{
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
    width: 100%;
    height: 100%;
  
}
.create_input:focus{outline: none;}

.create_input ~ .focus-border:before,
.create_input ~ .focus-border:after{
    content: "";
     position: absolute; 
     top: 0; 
     left: 0;
      width: 0; 
      height: 2px; 
      background-color: #3399FF; 
      transition: 0.3s;
    }
.create_input ~ .focus-border:after{
    top: auto;
     bottom: 0;
      left: auto;
       right: 0;
    }

.create_input ~ .focus-border i:before,
.create_input ~ .focus-border i:after{
    content: "";
     position: absolute;
      top: 0;
       left: 0;
        width: 2px;
         height: 0;
          background-color: #3399FF;
           transition: 0.4s;
        }
.create_input ~ .focus-border i:after{
    left: auto;
     right: 0;
      top: auto;
       bottom: 0;
    }
.create_input:focus ~ .focus-border:before,
.create_input:focus ~ .focus-border:after{ 
    width: 100%;
     transition: 0.3s;
    }
.create_input:focus ~ .focus-border i:before,
.create_input:focus ~ .focus-border i:after{
    height: 100%; 
    transition: 0.4s;
}

.create_label{
    font-size: 140%;
    margin-bottom: -5%;
    /* padding-bottom: 0%; */
    left: 0%;
}
.row{
    position: relative;
}
.hr{
    /* height: 1px; */
    /* border: 0; */
  text-align: center;
  height: 12px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    /* padding-bottom: 3%; */
    margin-bottom: 3%;
}
@media(max-width:756px){
    .create_form{
        width: 80%;
        margin-left: 10%;
    }
}

/* 
Delete Reg */

.delete_form{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    /* margin-top: -8%; */
    min-height: 100%;
    position: relative;
    border-radius: 12px;
    margin-bottom: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
}

@media(max-width:756px){
    .delete_form{
        width: 80%;
        margin-left: 10%;
    }
}