<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gurukul">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gurukul">
        <activity
            android:name=".view.activities.MarkAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.AttendanceListActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.AttendanceSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.AssignmentUploadActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.AssignmentsListActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.AssignmentsSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.PDFViewerActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.NotesListActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.NotesSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".view.activities.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".view.activities.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="false" />
    </application>

</manifest>